@media (max-width: 1120px) {

  .quote_btn-container a {
    display: none;
  }
}

@media (max-width: 992px) {

  .slider_section .slider-container {
    flex-direction: column;
    padding: 0;
  }

  .slider_section .detail-box {
    width: 100%;
    text-align: center;
    padding: 75px 15px;
    background: linear-gradient(135deg, #020092, #17df05);
    position: relative;
  }

  .slider_section .img-box {
    width: 100%;
    margin: 0;
  }

  .slider_section .slider_bg-container {
    display: none;
  }

  .slider_section .detail-box p {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    top: initial;
    bottom: 0;
    left: 44.6%;
  }

  .slider_section .carousel-control-prev {
    transform: translate(0, 50%);
  }

  .slider_section .carousel-control-next {
    transform: translate(115%, 50%);
  }

  .service_section .service_container {
    flex-wrap: wrap;
    justify-content: center;
  }

  .service_section .box {
    margin: 25px;
  }

  .service_section .box .name h6 {
    color: #ffffff;
  }

  .service_section::before {
    height: 100%;
  }

  .portfolio_section {
    padding-top: 75px;
  }

  .contact_items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .contact_items .item {
    margin: 20px;
  }
}

@media (max-width: 768px) {

  .subscribe_section .colegio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 20em; */
    font-size: 5px;
  }

  .subscribe_section {
  /* background-color: #018d19; */
  background-image: url(../images/img/IE_PRIMITIVOLEALINFO.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment:scroll !important;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.5);
  /* width: 100vh;
  height: 100vh; */
  /* width: 100%;
  height: 100%; */
}


   .subscribe_section .colegio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin: 8em;
    font-size: 5px;
  }

  .subscribe_section .colegio h2 a {
    color: rgb(52, 116, 255);
      font-size: 10px !important
  }

  .subscribe_section .colegio h2,span {
    font-size: 10px !important; 
     width: 100% !important;
     /* margin: 1em; */
  }

  .client_section .client_container {
    width: 100%;
  }

  .client_section .client_container .box {
    margin: 20px 15px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
    display: none;
  }

  .subscribe_section form {
    margin-top: 25px;
  }

  .contact_section .contact_form-container button {
    margin-bottom: 45px;
  }

  .contact_section .contact_form-container input {
    width: 100%;
  }
}

@media (max-width: 768px) {

  .subscribe_section .colegio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin: 10em;
    font-size: 5px;
  }

  .subscribe_section .colegio h2 a {
    color: rgb(52, 116, 255);
      font-size: 15px !important
  }

  .subscribe_section .colegio h2,span {
    font-size: 15px !important; 
     width: 100% !important;
     /* margin: 1em; */
  }

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {

    left: 41.6%;
  }

  .custom_heading-container hr {
    display: none;
  }
}

@media (max-width: 500px) {

  .subscribe_section .colegio {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin: 10em;
    font-size: 5px;
  }

  .subscribe_section .colegio h2 a {
    color: rgb(52, 116, 255);
      font-size: 15px !important
  }

  .subscribe_section .colegio h2,span {
    font-size: 15px !important; 
     width: 100% !important;
     /* margin: 1em; */
  }

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 39%;
  }

  .subscribe_section form {
    flex-direction: column;
    align-items: center;
  }

  .subscribe_section form button {
    transform: none;
    margin-top: 15px;
  }

  .slider_section .detail-box h1 {
    font-size: 2.5rem;
  }
}

@media (max-width: 420px) {}

@media (max-width: 360px) {

  .slider_section .carousel-control-prev,
  .slider_section .carousel-control-next {
    left: 36%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }

  .custom_nav-container.navbar-expand-lg .navbar-nav .nav-link {
    padding: 10px 30px;
  }
}